html, body {
  /* overflow:hidden  ; impede rolagem */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* padding-block: 1rem; */
}

ul {
  list-style: none;
  color: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}

.container {
  display: block;
  max-width: 1240px;
  margin: 0 auto;
}

.flex {
  display: flex;
}
.grid {
  display: grid;
}

.col-2 {
  grid-template-columns: 1fr 1fr;
}
.col-3 {
  grid-template-columns: 1fr 1fr 1fr;
}
.col-4 {
  grid-template-columns: repeat(4, 1fr);
}
.col-6 {
  grid-template-columns: repeat(6, 1fr);
}
.col-12 {
  grid-template-columns: repeat(12, 1fr);
}

.btn-black {
  font: var(--h4);
  color: var(--white);
  background-color: var(--dark);
  padding: 20px 36px;
  border-radius: 1rem;
}

.h2-green {
  font: var(--h2);
  background-color: var(--green);
  color: var(--black);
  border-radius: 8px;
  padding: 4px 6px;
}

.h3-green {
  font: var(--h3);
  background-color: var(--green);
  color: var(--black);
}

.h3-white {
  font: var(--h3);
  background-color: var(--white);
  color: var(--black);
}

.sectionTitle {
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.btn-transp {
  font: var(--h4);
  border: 1px solid var(--black);
  padding: 20px 36px;
  border-radius: 1rem;
}

.btn-green {
  font: var(--h4);
  color: var(--black);
  padding: 20px 36px;
  border-radius: 1rem;
}

.openedWorkProcessItemGreen {
  background-color: var(--green);
}
.openedWorkProcessItemGrey {
  background-color: var(--grey);
}

.paragraphPadding {
  padding-top: 30px;
  margin-top: 30px;
  /* transform: scaleY(0); */
  /* transform-origin: top;
  transition: transform 0.2s ease-in-out; */
}

.displayNone {
  display: none;
}
.navLi {
  position: relative;
  font: var(--paragraph-2);
}

.navLi::after {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--green);
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.2s ease-in-out;
}
.navLi:hover::after {
  transform: scaleX(1);
}
