#header {
  margin: 60px 0 70px 0;
  nav {
    justify-content: space-between;
    ul {
      gap: 40px;
      color: var(--black);
      li:last-child {
        .btn-transp:hover {
          background-color: var(--green);
          transition: ease-in-out 0.2s;
        }
      }
    }
  }
}