#main {
  align-items: center;
  margin-bottom: 70px;

  .mainContent {
    display: flex;
    flex-direction: column;
    grid-column: 1/6;
    gap: 36px;

    h1 {
      font: var(--h1);
    }
    p {
      font: var(--paragraph);
    }
    a {
      max-width: fit-content;
    }
  }
  .mainImg {
    grid-column: 7/13;
  }
}

#partners {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 70px;
  img {
    max-height: 48px;
  }
}

@media (max-width: 1100px) {
  .main {
    display: flex;
    gap: 2rem;

    .mainImg {
      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 900px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    .mainContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      h1,
      p {
        text-align: center;
      }
    }

    .mainImg {
      img {
        width: 100%;
        max-width: 400px;
      }
    }
  }
}

@media (max-width: 800px) {
  .main {
    .mainImg {
      img {
        display: none;
      }
    }
  }
}