.proposalWhiteBg {
  background-color: var(--grey);
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  box-shadow: inset 0 30px 0 white,inset 0 -30px 0 white;


  .proposalContent {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap: 26px;
    h3 {
      font: var(--h3);
    }
    p {
      font: var(--paragraph)
    }
    a{
      font: var(--paragraph-2);
      max-width: fit-content;
    }
  }
  .proposalImg {
    img {
      max-width: 100%;
      max-width: 360px;
      height: auto;
      object-fit: contain;
      object-position: center;
    }
  }
}