.team {
  margin-bottom: 120px;
  .teamContent {
    gap: 40px;
    .teamItem {
      flex-direction: column;
      padding: 40px 35px;
      border-radius: 2rem;
      gap: 1rem;
      border: 1px solid var(--black);
      box-shadow: 2px 5px 0 var(--black);
      .teamPerson {
        justify-content: space-between;
        padding-bottom: 28px;
        gap: 1rem;
        /* align-items: center; */
        margin-bottom: 28px;
        border-bottom: 1px solid var(--black);
        align-items: center;
        .personTitle {
          align-self: end;
          h4 {
            font: var(--h4);
          }
          span {
            font: var(--paragraph);
            display: inline-block;
            align-self: flex-start;
          }
        }
        img:first-child {
          width: 100%;
          height: auto;
          max-width: 100px;
        }
        a {
          align-self: start;
          img {
            width: 100%;
            /* display: block; */
            min-width: 40px;
          }
        }
      }
      p {
        font: var(--paragraph);
      }
    }
  }
}

@media (max-width: 1000px) {
  #team {
    .teamContent {
      display: grid;
      grid-template-columns: 1fr 1fr;
      .teamItem {
        .teamPerson {
          .personTitle,
          a {
            align-self: center;
          }
        }
      }
    }
  }
}
@media (max-width: 800px) {
  #team {
    .teamContent {
      display: grid;
      grid-template-columns: 1fr;
      .teamItem {
        align-items: center;
        .teamPerson {
          justify-content: center;
          gap: 2rem;
        }
      }
      p {
        text-align: center;
        max-width: 30ch;
      }

    }
  }
}
