#about {
  /* margin-bottom: 80px; */
  .sectionHeader {
    a {
      font: var(--paragraph-18px-md);
      align-items: center;
      justify-content: center;
      color: var(--white);
    }
  }

  .aboutContent {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    .divImg {
      grid-column: 1/7;
      grid-row: 1/3;
    }
    .intro {
      grid-column: 7/13;
      gap: 1rem;
      h3 {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 20px;
        font: var(--h3);
      }
      p {
        font: var(--paragraph-18px-md);
        color: var(--color-grey-70);
      }

    }
    .contactInfo {
      grid-column: 7/13;
      h3 {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 1rem;
        margin-bottom: 1rem;
        font: var(--h3);
      }
      .contactData {
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        margin-bottom: 1rem;
        div {
          span:first-child {
            font: var(--paragraph-18px-md);
            color: var(--color-grey-90);
          }
          span:last-child {
            font: var(--paragraph-20px);
            color: var(--color-grey-70);
          }
        }
      }
      .socialMediaCV {
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        min-width: fit-content;
        .socialMedia {
          gap: 1rem;
          align-items: center;
          padding: 16px;
          border: 1px solid var(--color-dark-12);
          background-color: var(--color-dark-03);
          border-radius: 4rem;
          a {
            min-width: 50px;
            border-radius: 100%;
            padding: 14px;
            background: linear-gradient(
              90deg,
              #2f2f37 100% 28%,
              rgba(47, 47, 55, 0) 100% 100%
            );
          }
        }
        a {
          background: linear-gradient(
            90deg,
            #2f2f37 100% 28%,
            rgba(47, 47, 55, 0) 100% 100%
          );
  
          color: var(--white);
        }
      }
    }
  }
}


@media (max-width: 1000px) {
  #about {
    .aboutContent {
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: auto auto;
      gap: 30px;
      .divImg {
        /* grid-column: 1/7; */
        grid-row: 1/4;
      }
      .intro {
        grid-column: 7/13;
        grid-row: 1/3;
      }
      .contactInfo {
        grid-column: 1/13;
        grid-row: 3;
        h3 {
          display: flex;
          align-items: center;
          gap: 20px;
          font: var(--h3);
        }
        .contactData {
          justify-content: end;
        }
        .socialMediaCV {
          align-items: end;
          flex-direction: column;
      }
    }
  }
}
}

@media (max-width: 800px) {
  #about {
    .aboutContent {
      .divImg {

      }
      .intro {
      }
      .contactInfo {
        h3 {
          justify-content: center;
        }
        .contactData {
          justify-content: center;
        }
        .socialMediaCV {
          align-items: center;
        }
      }
    }
  }
}

@media (max-width: 650px) {
  #about {
    .aboutContent {
      .divImg {
        grid-column: 1/13;
        grid-row: 1;
      }
      .intro {
        h3, p {
          justify-content: center;
        }
        grid-column: 1/13;
        grid-row: 2;
      }
      .contactInfo {
        h3 {
          justify-content: center;
        }
        .contactData {
          justify-content: center;
        }
        .socialMediaCV {
          align-items: center;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  #about {
    .aboutContent {
      justify-content: center;
      .divImg {
      }
      .intro {
        h3, p {
        }
      }
      .contactInfo {
        h3 {
        }
        .contactData {
          flex-direction: column;
        }
        .socialMediaCV {
          align-items: center;
        }
      }
    }
  }
}
































































































/* #about,
#services {
  margin-bottom: 200px;
  .sectionHeader {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
    .serviceTitle {
      text-align: start;
      span {
        font: var(--paragraph-20px-smb);
        color: var(--color-grey-50);
      }
      h2 {
        font: var(--h2);
        color: var(--white);
      }
    }
    a {
      font: var(--paragraph-18px-md);
      align-items: center;
      justify-content: center;
      color: var(--white);
    }
  }

  .aboutContent {
    color: var(--white);
    grid-template-rows: 1fr 1fr;
    .divImg {
      grid-column: 1/7;
      grid-row: 1/3;
      min-width: 400px;
      img { */
        /* max-width: 100%; /* ocupa toda a largura do container */
        /* max-height: 100%; */
        /* max-height: 700px; ocupa toda a altura do container */
        /* object-fit: cover; mantém proporção e preenche o container, cortando o que sobra */
        /* object-position: center; centraliza a imagem no corte */ */
      /* }
    }
  }
  .intro {
    grid-column: 7/13;
    gap: 2rem;
    padding-inline: 40px;
    h3 {
      display: flex;
      align-items: center;
      gap: 20px;
      font: var(--h3);
    }
    p {
      font: var(--paragraph-18px-md);
      color: var(--color-grey-70);
    }
  }
  .contactInfo {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-inline: 40px;
    h3 {
      display: flex;
      align-items: center;
      gap: 20px;
      font: var(--h3);
    }
    .contactData {
      display: flex;
      gap: 1rem;
      justify-content: space-between;
      div {
        span:first-child {
          font: var(--paragraph-18px-md);
          color: var(--color-grey-90);
        }
        span:last-child {
          font: var(--paragraph-20px);
          color: var(--color-grey-70);
        }
      }
    }
    .socialMediaCV {
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      min-width: fit-content;
      .socialMedia {
        gap: 1rem;
        align-items: center;
        padding: 16px;
        border: 1px solid var(--color-dark-12);
        background-color: var(--color-dark-03);
        border-radius: 4rem;
        a {
          min-width: 50px;
          border-radius: 100%;
          padding: 14px;
          background: linear-gradient(
            90deg,
            #2f2f37 100% 28%,
            rgba(47, 47, 55, 0) 100% 100%
          );
        }
      }
      a {
        background: linear-gradient(
          90deg,
          #2f2f37 100% 28%,
          rgba(47, 47, 55, 0) 100% 100%
        );

        color: var(--white);
      }
    }
  }
}

/* @media (max-width: 1000px) {
  .aboutContent {
    .contactInfo {
      .contactData {
      }
      .socialMediaCV {
      }
    }
  }
} */
