* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  var(--font-family-base);
}

body {
  background-color: var(--color-dark-03);
}

h3 {
  color: var(--color-grey-90);
}

.container {
  max-width: 1480px;
  margin: 0 auto;
  padding-inline: 2rem;
}

.active {
  max-height: 0 !important;
  opacity: 0 !important;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.grid {
  display: grid;
}

.grid-12-col {
  grid-template-columns: repeat(12,1fr);
  gap: 30px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn-purple {
  padding: 18px 50px;
  border-radius: 20px;
  background-color: var(--color-purple-55);
  align-items: center;
  justify-content: center;
}

.btn-grey {
  padding: 16px 24px;
  border-radius: 10px;
  background-color: var(--color-dark-12);
  align-items: center;
  justify-content: center;
}

.circleLink {
  padding: 14px;
  border-radius: 100%;
  background-color: var(--color-dark-12);
  align-items: center;
  justify-content: center;
}

.sectionHeader {
  align-items: center;
  justify-content: space-between;
  margin-block: 80px;
  .serviceTitle {
    text-align: start;
    span {
      font: var(--paragraph-20px-smb);
      color: var(--color-grey-50);
    }
    h2 {
      font: var(--h2);
      color: var(--white);
    }
  }
}
.haveChat 
{
  text-transform: uppercase;
  color: var(--white);
  font: var(--h2);
  align-items: start;
  .firstLine {
    /* align-items: center; */
    gap: 1rem;
    max-height: 50px;
    align-items: center;
    .btn-purple {
      align-items: center;
      justify-content: center;
      img {
        width: 1rem;
      }
    }
  }
}

.socialMediaCV {
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  min-width: fit-content;
  .socialMedia {
    gap: 1rem;
    align-items: center;
    padding: 16px;
    border: 1px solid var(--color-dark-12);
    background-color: var(--color-dark-03);
    border-radius: 4rem;
    a {
      min-width: 50px;
      border-radius: 100%;
      padding: 14px;
      max-width: 50px;
      background: linear-gradient(
        90deg,
        #2f2f37 100% 28%,
        rgba(47, 47, 55, 0) 100% 100%
      );
      img {
        max-width: 100%;
      }
    }
  }
  a {
    background: linear-gradient(
      90deg,
      #2f2f37 100% 28%,
      rgba(47, 47, 55, 0) 100% 100%
    );

    color: var(--white);
  }
}

@media (max-width: 1000px) {
  .sectionHeader {
    margin-block: 60px;
  }
}

@media (max-width: 600px) {
  .sectionHeader {
    margin-block: 50px;
    .serviceTitle {
      span {
        font: var(--paragraph-18);
      }
      h2 {
        font-size: 3rem;
      }
    }
  }
}